
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section {
    background-color: rgb(245, 245, 245);
}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.title--secondary {
    color: #FF85A1;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

/* 

LANDING PAGE

*/

#landing-page {
   min-height: 100vh; 
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
}

.header__text {
    color: #FF85A1;
}

.header__para {
    padding-top: 16px;
    font-size: 24px;
    line-height: 2;
    max-width: 550px;
}

/* 

NAVIGATION 

*/


#logo {
    filter: invert(1);
    width: 50px;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    max-width: 1200px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-cloud-moon {
    font-size: 20px;
}